.titulo.apa {
    font: var(--headL5);
    color: var(--blanco);
    background-color: var(--morado);
    text-decoration: none;
}

.titulo.apa.som {
    box-shadow: -4px 4px 50px var(--blanco);
    margin-inline-start: 4px;
}